<section class="footer">
    <div class="parent">
        <div class="upside">
            <div class="first">
                <img src="../../assets/site-logo.svg" alt="" class="heading-logo" routerLink="">
                <span class="content">Praesent eget tortor sit risus egestas nulla pharetra ornare quis bibendum est bibendum sapien proin nascetur</span>
                <div class="icons">
                    <img src="../../assets/facebook.svg" alt="" class="icon" height="16px">
                    <img src="../../assets/insta.svg" alt="" class="icon" height="16px">
                    <img src="../../assets/twitter.svg" alt="" class="icon" height="16px">
                    <img src="../../assets/pinterest.svg" alt="" class="icon" height="16px">
                </div>
            </div>
            <div class="second">
                <span class="heading" routerLink="/collection">Shop</span>
                <span class="content" routerLink="/collection">Shop Men</span>
                <span class="content" routerLink="/collection">Shop Women</span>
                <span class="content" routerLink="/lookbook">LookBook</span>
                <span class="content">Gift Card</span>
                <span class="content" routerLink="/sale">Sale</span>
            </div>
            <div class="second ">
                <span class="heading">About</span>
                <span class="content" routerLink="/story">Our Story</span>
                <span class="content">Our Materials</span>
                <span class="content">Our Value</span>
                <span class="content">Sustainability</span>
                <span class="content">Manufacture</span>
            </div>
            <div class="second last">
                <span class="heading">Need Help?</span>
                <span class="content">FAQs</span>
                <span class="content">Shipping & Returns</span>
                <span class="content">Shoe Care</span>
                <span class="content">Size Chart</span>
                <span class="content">Contact Us</span>
            </div>
        </div>
        
    </div>
    <div class="downside">
        <div class="down-parent">
            <span class="text">&copy; 2023 Recycled Shoe Store. Powered by Recycled Shoe Store.
            </span>
            <img src="../../assets/payment-icons.png" alt="" class="icon-content">
        </div>
    </div>
</section>