<section class="collection">
    <div class="parent">
        <div class="header">
            <span class="heading">MEN</span>
            <div class="filter">
                <mat-form-field >
                    <mat-label>Default Sorting</mat-label>
                    <mat-select [(value)]="selected" >
                      <mat-option (click)="popular()" class="list" value="Sort By Popularity">Sort By Popularity</mat-option>
                      <mat-option (click)="l2h()" class="list" value="Sort By Low To High">Sort By Price: Low To High</mat-option>
                      <mat-option (click)="h2l()" class="list" value="Sort By High To Low">Sort By Price: High To Low</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="downside">
            <div class="cards">
                <div class="card" *ngFor="let ele of dataArray3">
                    <div class="img-section">
                        <img src={{ele.imgUrl}} alt="" class="card-img">
                        <span class="img-footer" (click)="onView(ele.id)">Quick View</span>
                        <span class="sale">Sale!</span>
                    </div>
                    <span class="card-heading">{{ele.name}}</span>
                    <span class="price">{{ele.price | currency}}</span>
                </div>
            </div>
        </div>
    </div>
</section>
<app-betterpeople />
<app-footer />