<section class="parent">
    <div class="child">
        <div class="container">
            <div class="img-div">
                <img src="../../assets/men-show.jpg" alt="" class="img-here">
                <div class="content">
                    <span class="heading">Men</span>
                    <div class="shop">SHOP NOW</div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="img-div">
                <img src="../../assets/women-show.jpg" alt="" class="img-here">
                <div class="content">
                    <span class="heading">Women</span>
                    <div class="shop">SHOP NOW</div>
                </div>
            </div>
        </div>
    </div>
</section>