<section class="parent-section">
    <div class="child-section">
        <div class="content-section">
            <div class="left">
                <span class="heading">Eu eget felis erat mauris aliquam mattis lacus, arcu leo aliquam sapien pulvinar laoreet vulputate sem aliquet phasellus egestas felis, est, vulputate morbi massa mauris vestibulum dui odio.</span>
                <div class="stamp">
                    <img src="../../assets/recycled-shoe-badge-1.svg" alt="" class="icon">
                    <img src="../../assets/recycled-shoe-badge-2.svg" alt="" class="icon">
                    <img src="../../assets/recycled-shoe-badge-3.svg" alt="" class="icon">
                </div>
            </div>
            <div class="right">
                <img src="../../assets/recycled-shoe-store-recycled-circle-iamge.jpg" alt="" class="img-div"> 
            </div>
        </div>
    </div>
</section>