<div class="parent">
    <div class="img-container">
        <img src="../../assets/better_people.jpg" alt="" class="img-here">
        <div class="text-content">
            <span class="heading">Better for People & the Planet</span>
            <span class="para">Ut eget at et aliquam sit quis nisl, pharetra et ac pharetra est dictum in vulputate</span>
            <div class="btns">
                <button class="btn">SHOP MEN</button>
                <button class="btn btn-2">SHOP WOMEN</button>
            </div>
        </div>
    </div>
</div>
<div class="second-parent">
    <div class="container">
        <div class="first">
            <mat-icon aria-hidden="false" aria-label="Example home icon" class="icon">lock</mat-icon>
            <span class="text">Secure Payment</span>
        </div>
        <hr class="horiz">
        <div class="first">
            <mat-icon class="icon">local_shipping</mat-icon>
            <span class="text">Express Shipping</span>
        </div>
        <hr class="horiz">
        <div class="first second">
            <mat-icon class="icon">cached</mat-icon>
            <span class="text">Free Return</span>
        </div>
        
    </div>
    <hr class="verti">
</div>