<div class="parent-section">
    <div class="child-section">
        <div class="upside">
            <span class="heading">Our Customers speak for us</span>
        </div>
        <div class="downside">
            <div class="cards">
                <div class="card">
                    <span class="content">“Felis semper duis massa scelerisque ac amet porttitor ac tellus venenatis aliquam varius mauris integer”</span>
                     <div class="details">
                        <img src="../../assets/avatar1.jpg" alt="" class="avatar">
                        <span class="name">JULIA KEYS</span>
                     </div>
                </div>
                <div class="card">
                    <span class="content">“Non malesuada fringilla non varius odio in id pellentesque aliquam volutpat sapien faucibus ”</span>
                     <div class="details">
                        <img src="../../assets/avatar2.jpg" alt="" class="avatar">
                        <span class="name">LUIS ADRIAN</span>
                     </div>
                </div>
                <div class="card">
                    <span class="content">“Tortor suspendisse tincidunt accumsan platea pellentesque hac.”</span>
                     <div class="details">
                        <img src="../../assets/avatar3.jpg" alt="" class="avatar">
                        <span class="name">	
                            MARIA ANNA</span>
                     </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <span class="text">4.8 average rating from 1814 reviews</span>
        </div>
    </div>
</div>