<div class="shoes-parent">
    <div class="container">
        <div class="upside">
            <span class="heading">See how your shoes are made</span>
            <span class="para">Urna, felis enim orci accumsan urna blandit egestas mattis egestas feugiat viverra ornare
                donec adipiscing semper aliquet integer risus leo volutpat nulla enim ultrices</span>
        </div>
        <div class="downside">
            <div class="content">
                <div class="left">
                    <div class="first">
                        <span class="number">01.</span>
                        <span class="heading">Pet Canvas</span>
                        <span class="para">Morbi eget bibendum sit adipiscing morbi ac nisl vitae maecenas nulla
                            cursus</span>
                    </div>
                    <hr class="line">
                    <div class="first">
                        <span class="number">02.</span>
                        <span class="heading">Algae foam + vegan glue</span>
                        <span class="para">Enim tincidunt donec vulputate magna pharetra mattis in
                        </span>
                    </div>
                </div>
                <div class="mid">
                    <img src="../../assets/shoe2.png" alt="" class="mid-img">
                </div>
                <div class="right left">
                    <div class="first">
                        <span class="number">03.</span>
                        <span class="heading">Organic Cotton</span>
                        <span class="para">A vel ipsum, sed dignissim elementum ultrices amet
                        </span>
                    </div>
                    <hr class="line">
                    <div class="first">
                        <span class="number">04.</span>
                        <span class="heading">Upcycled plastic bottles</span>
                        <span class="para">Pellentesque viverra amet netus facilisis amet felis odio tortor orci cursus est</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>