<div class="story">
    <div class="parent">
        <div class="upper">
            <span class="heading">Our Story</span>
            <span class=" heading heading-para">Taking a stylish and sustainable footwear with a focus on creating a
                positive impact on both the world and the people</span>
        </div>
        <div class="mid">
            <img src="../../assets/recycled-shoe-store-story-wide-video-thumbnail-image.jpg" alt="" class="img-here">
            <div class="mid-content">
                <div class="left">
                    <mat-icon class="icon">balance</mat-icon>
                    <span class="heading">Ethics and equality</span>
                    <span class="content">Pellentesque quam convallis massa enim, faucibus ornare sollicitudin gravida
                        justo sit suspendisse pellentesque.</span>
                </div>
                <div class="left">
                    <mat-icon class="icon">eco</mat-icon>
                    <span class="heading">Eco-design</span>
                    <span class="content">Risus leo molestie a aliquam amet urna orci nisl dignissim elementum nibh
                        felis ultrices vitae consectetur.</span>
                </div>
                <div class="left">
                    <mat-icon class="icon">forest</mat-icon>
                    <span class="heading">Wildlife Preservation</span>
                    <span class="content">Pellentesque nunc ante augue adipiscing sed suspendisse amet sed pellentesque
                        convallis erat nibh vivamus.</span>
                </div>
            </div>
        </div>
        <div class="downside">
            <div class="content">
                <div class="mission">
                    <span class="heading">Mission</span>
                    <div class="text-div">
                        <span class="content">
                            Pulvinar sed nunc ultrices consequat adipiscing sagittis feugiat at dui, arcu nec id non
                            pellentesque dolor feugiat dolor ac ac sem semper nulla dis vitae, quis elit odio nunc
                            dignissim aliquam ipsum.
                        </span>
                        <span class="content-2">
                            Mattis pretium nec tellus viverra phasellus sed tortor ac tincidunt adipiscing nibh eget,
                            adipiscing sit penatibus lobortis placerat
                        </span>
                    </div>
                </div>
                <div class="mission mission2">
                    <span class="heading">Vision</span>
                    <div class="text-div">
                        <span class="content">
                            Sit etiam est, nunc sollicitudin malesuada tincidunt senectus venenatis, adipiscing nulla
                            vel diam, lorem donec sit blandit nec tortor, diam cras ut velit nulla purus ullamcorper
                            ornare elit bibendum augue.
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-shoesmade />
<app-betterpeople />
<app-footer />