<section class="sale">
    <div class="parent">
        <div class="heading">
            <span class="headline">Sale</span>
        </div>
        <div class="child">
            <div class="container">
                <div class="img-div">
                    <img src="../../assets/recycled-shoe-store-promo-image-2.jpg" alt="" class="img-here">
                    <div class="content">
                        <span class="mini-heading">Refer A Friend</span>
                        <span class="heading">Get 20% OFF</span>
                        <div class="shop">LEARN MORE</div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="img-div">
                    <img src="../../assets/recycled-shoe-store-promo-image-1.jpg" alt="" class="img-here">
                    <div class="content content2">
                        <span class="mini-heading">Promotion</span>
                        <span class="heading">Student Discount</span>
                        <div class="shop">LEARN MORE</div>
                    </div>
                </div>
            </div>
        </div>   
    </div>
<app-newarrivals />
</section>
<app-betterpeople />
<app-footer />
