<div class="home-section">
    <div class="parent">
        <div class="img-container">
            <img src="../../assets/Homeimg.jpg" alt="" class="home-img">
            <div class="content">
                <div class="heading">
                    <span class="text-heading">Love The Planet We Walk On</span>
                </div>
                <div class="para-text">
                    <span class="para">Bibendum fermentum, aenean donec pretium aliquam blandit tempor imperdiet arcu arcu ut nunc in dictum mauris at ut.</span>
                </div>
                <div class="btns">
                    <button class="btn" routerLink="/men">SHOP MEN</button>
                    <button class="btn btn2" routerLink="/women">SHOP WOMEN</button>
                </div>
            </div>
        </div>
        <div class="logo-section">
            <div class="logo">
                <div class="left">
                    <span class="headline">
                        AS SEEN IN: 
                    </span>
                </div>
                <div class="right">
                    <span class="logo-icons">
                        <img src="../../assets/recycled-shoe-store-featured-in-logo-1 (1).svg" alt="" class="icon">
                        <img src="../../assets/recycled-shoe-store-featured-in-logo-2 (1).svg" alt="" class="icon">
                        <img src="../../assets/recycled-shoe-store-featured-in-logo-3 (1).svg" alt="" class="icon">
                        <img src="../../assets/recycled-shoe-store-featured-in-logo-4 (1).svg" alt="" class="icon">
                        <img src="../../assets/recycled-shoe-store-featured-in-logo-5.svg" alt="" class="icon">
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="about-us">
    <div class="container">
        <div class="parent">
            <div class="left">
                <img src="../../assets/shoe1.jpg" alt="" class="left-img">
            </div>
            <div class="right">
                <span class="about">ABOUT US</span>
                <span class="heading-content">Selected materials designed for comfort and sustainability</span>
                <span class="para-content">Nullam auctor faucibus ridiculus dignissim sed et auctor sed eget auctor nec sed elit nunc, magna non urna amet ac neque ut quam enim pretium risus gravida ullamcorper adipiscing at ut magna.</span>
                <span class="btn">READ MORE</span>
            </div>
        </div>
    </div>
</section>
 <app-shoesmade />
 <app-bestseller />
 <app-men-women />
 <app-newarrivals />
 <app-stamp />
<app-review />
<app-betterpeople />
<app-footer />